@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    background-color: black;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    justify-content: center;
    align-items: center;
    margin-top: 100px; /* Ajusta este valor según sea necesario */
}

h2 {
    text-align: center;
    color: #ff4727 !important;
    font-size: 50px;
}

button {
    border-radius: 20px;
    border: 1px solid #ff4727;
    background-color: #ff4727;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

    button:active {
        transform: scale(0.95);
    }

    button:focus {
        outline: none;
    }

    button.ghost {
        background-color: transparent;
        border-color: #FFFFFF;
    }

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    text-align: center;
}

input {
    background-color: #ddd; /* Color más oscuro */
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

    input::placeholder {
        color: #888; /* Color del placeholder */
    }
