body {
    background-color: #1a1a1a;
    font-family: 'Arial', sans-serif;
    color: #fff;
}

/* Cart and Main Section */
.background-cart {
    background-color: #1a1a1a;
    padding: 50px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-block {
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #2b2b2b;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease;
}
    .card-block:hover {
        transform: translateY(-10px);
    }

.descripcion h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.descripcion-price {
    text-align: right;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    color: #00ff99;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-primary, .btn-success {
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .btn-success:hover {
        background-color: #28a745;
    }

.form-control {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

    .form-control:focus {
        background-color: #444;
        border-color: #777;
    }

.table {
    margin-top: 20px;
    color: #ddd;
}

    .table th, .table td {
        padding: 10px;
        text-align: center;
    }

    .table th {
        background-color: #333;
    }

    .table td {
        background-color: #222;
    }

h5 {
    color: #00ff99;
    font-size: 1.8rem;
}
.pad{
    padding-right: 10%;
}